html {
    max-width:950px;
    min-width:400px;
    padding:10px;
    margin:10px auto;
    background-color:#d1d1d1;
    font-family:"Roboto", sans-serif;
    font-size:11pt;
    color:#3b3b3b;
}
body, h1, h2, h3, h4, p {
    margin:0;
}
a {
    color:#256D25;
    -webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    -ms-transition:color 0.3s;
    -o-transition:color 0.3s;
    transition:color 0.3s;
}
a:hover {
    color:#3b3b3b;
}
h1, h2, h3 {
    font-weight:normal;
    font-family:"Chau Philomene One", sans-serif;
}
.logo {
    float:right;
    height:70px;
    width:76px;
}
section {
    background-color:#fff;
    margin:20px 0;
    padding:10px;
    overflow:auto;
    box-shadow: 0 2px 3px #999;
}
section h3 {
    background-color:#254D25;
    color:#fff;
    text-align:center;
    width:200px;
    margin:-10px 0 10px -10px;
}
.map {
    border:1px solid #888888;
    float:right;
}
.address {
    margin-top:40px;
}
footer {
    font-size:small;
    text-align:center;
}
